.container-assessment {
}

.container-assessment .assessment-text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--cor-primaria);
}

/* ----{filter-assessment}---- */
.filter-assessment form {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
}

.filter-assessment form input {
  border: 1px solid rgb(0, 0, 0, 0.1);
}

.filter-assessment form input[type="search"],
.filter-assessment form #filter {
  height: 40px;
  border-radius: 0.2rem;
  box-shadow: none !important;
  outline: none !important;
}

.filter-assessment form input[type="search"] {
  padding-left: 10px;
  width: 30%;
  margin: 10px 0;
}

.filter-assessment form input[type="search"]:focus,
.filter-assessment form #filter {
  border-color: var(--cor-primaria);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.filter-assessment form #filter {
  padding: 0 5px;
}
/* ----{END - filter-assessment}---- */

/* ----{ container-list-assessment}---- */
.container-list-assessment {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.box-assessments {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
  max-height: 210px;
  padding: 1rem;
  cursor: pointer;
  position: relative;
}

.box-assessments .box-assessments-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.box-assessments-details .title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.box-assessments-details .teacher span:first-child,
.box-assessments-details .date span:first-child {
  font-size: 0.9rem;
  font-weight: bold;
}

.box-assessments-details .teacher,
.box-assessments-details .date {
  font-size: 0.9rem;
}

.box-assessments button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.box-assessments button.btn-assess,
.box-assessments button.btn-evaluated {
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  padding: 0.35rem 0;
  min-width: 115px;
  font-size: 0.9rem;
}

.box-assessments button.btn-assess {
  background-color: #2cbb6b;
  color: #fff;
}

.box-assessments button.btn-evaluated {
  background-color: hsla(146, 97%, 49%, 0.1);
  color: #008000;
  border: none;
  font-weight: bold;
  border: 1px solid #4caf50;
  border: none;
  box-shadow: none;
}
/* ----{END - container-list-assessment}---- */

/* Animações */
@keyframes entryAnimation {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.entry {
  animation: entryAnimation 0.8s ease-in-out; /* Duração: 1 segundo, animação suave */
  animation-fill-mode: forwards; /* Mantém o elemento no estado final após a animação */
}
