*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: linear-gradient(#20631d, #c2f5bf);
    background-repeat: no-repeat;
    background-size: auto;
    height: 100vh;
}

.scroll{
    max-height: 500px;
    overflow-y: scroll;
    border-radius: 20px; 
    margin-top: 100px;
}

.scroll::-webkit-scrollbar{
    width: 0;
} 

th{
    position: sticky;
    top: 0;
}

.tela{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

table.itens-table{
    border-radius: 20px;
    width: 1100px;
    /* max-height: 500px; */
    text-align: center;
    /* margin-top: 100px; */
    background-color: white;
    box-shadow: 1px 1px 8px 1px #000000;
    overflow: scroll;
}

table.itens-table td, table.itens-table th + table.itens-table th{
    border-top: 1px solid #f2f2f2;
    padding: 2px 2px;
}

table.itens-table thead th{
    color: #e3e6d0;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 30px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

table.itens-table td{
    color: #666;
}

table.itens-table tr{
    height: 61.39px;
}

table{
    border-collapse:collapse;
}

tr:first-child td:first-child{
    border-bottom-left-radius: 20px;
}

tr:last-child td:first-child{
    border-bottom-left-radius: 20px;
}

tr:last-child td:last-child{
    border-bottom-right-radius: 20px;
}

td:nth-child(4), td:nth-child(5), td:nth-child(6){
    cursor: pointer;
}

thead th{
    background-color: #013b01;
}

tr:hover {
    background-color: #f5f5f5;
}

.homescreen{
    width: 200px;
    height: 45px;
    border: 0;
    border-radius: 25px;
    background-color: #013b01;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    position: absolute;
    top: 50px;
    left: 1035px;
}

.homescreen:hover{
    /* background-color: #13293D; */
    box-shadow: 0 0 5px #20631d, 0 0 25px #20631d, 0 0 50px #20631d, 0 0 200px #20631d; 
    /* box-shadow: inset -6.5em 0 0 0 #165b79, inset 6.5em 0 0 0 #3f6c80; */
}

.homescreen img{
    padding-left: 9px;
}

.homescreen a{
    text-decoration: none;
    color: #e3e6d0;
    display: flex;
    align-items: center;
    padding: 7px;
}

.homescreen p{
    padding-left: 13px;
}

.search{
    position: absolute;
    top: 50px;
    left: 125px;
}

.search .loupe{
    background: url(../images/search-interface-symbol2.png);
    background-repeat: no-repeat;
    background-color: white;
    background-position-x: 10px;
    background-position-y: center;
    background-size: 1.8em;
    margin-left: 10px;
}

.search input{
    width: 260px;
    height: 40px;
    border: 0;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    outline: 0;
    cursor: auto;
}

.adicionar{
    position: absolute;
    top: 50px;
    right: 700px; 
    width: 200px;
    height: 45px;
    background-color: #013b01;
    cursor: pointer;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 20px;
    display: block;
}

.adicionar:hover{
    opacity: 0.9;
}

.relatorio{
    position: absolute;
    top: 50px;
    right: 415px; 
    width: 200px;
    height: 45px;
    background-color: #013b01;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 20px;
    display: block;
}

.relatorio:hover{
    opacity: 0.8;
}

.popupAdd{
    width: 500px;
    background-color: #013b01;
    border-radius: 10px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #f5f5f5;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s; 
}

.popupAdd img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.popupAdd h2{
    font-size: 23px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popupAdd button{
    width: 45%;
    margin-top: 50px;
    padding: 10px 0;
    background: #fff;
    border: 0;
    border-radius: 14px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
}

/*-----------------adicionar---------------------*/
.popupAdd .validadeEmpenho{
    border: 1px #13293D solid;
    padding-left: 10px;
    width: 100%;
    height: 45px;
    margin: 4px 2px;
    border-radius: 25px;
    background-image: url(../images/calendario.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 50px;
    background-size: 1.3em;
    background-position-x: 20px;
    outline: 0;
}

.popupAdd .valorEmpenho{
    border: 1px #13293D solid;
    padding-left: 10px;
    width: 100%;
    height: 45px;
    margin: 4px 2px;
    border-radius: 25px;
    background-image: url(../images/valor.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 50px;
    background-size: 1.3em;
    background-position-x: 20px;
    outline: 0;
}

.popupAdd .itensEmpenho{
    border: 1px #13293D solid;
    padding-left: 10px;
    width: 100%;
    height: 45px;
    margin: 4px 2px;
    border-radius: 25px;
    background-image: url(../images/o-email2.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 50px;
    background-size: 1.3em;
    background-position-x: 20px;
    outline: 0;
}

.popupAdd .notaEmpenho{
    border: 1px #13293D solid;
    padding-left: 10px;
    width: 100%;
    height: 45px;
    margin: 4px 2px;
    border-radius: 25px;
    background-image: url(../images/codigo-barras.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 50px;
    background-size: 1.3em;
    background-position-x: 20px;
    outline: 0;
}
/*-------------------------------------------------*/

.popupAdd button:hover{
    background-color: #666;
    color: #e3e6d0;
}

.popupAdd select{
    width: 220px;
    background-color: #fff;
    border: 1px solid #165b79;
    outline: 0;
    margin-top: 20px;
    border-radius: 20px;
    height: 35px;
    text-align: center;
}

.popupAdd label{
    margin-left: 12px;
    font-size: 16px;
}

.popupEdit{
    width: 500px;
    background-color: #013b01;
    border-radius: 10px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #f5f5f5;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.popupEdit img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    background-color: #2177a8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popupEdit h2{
    font-size: 23px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popupEdit button{
    width: 45%;
    margin-top: 50px;
    padding: 10px 0;
    background: #fff;
    border: 0;
    border-radius: 16px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
}

.popupEdit button:hover{
    background-color: #666;
    color: #e3e6d0;
}

/*--------------------------editar--------------------------*/
.popupEdit .validadeEmpenho{
    border: 1px #13293D solid;
    padding-left: 10px;
    width: 100%;
    height: 45px;
    margin: 4px 2px;
    border-radius: 25px;
    background-image: url(../images/calendario.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 50px;
    background-size: 1.3em;
    background-position-x: 20px;
    outline: 0;
}

.popupEdit .valorEmpenho{
    border: 1px #13293D solid;
    padding-left: 10px;
    width: 100%;
    height: 45px;
    margin: 4px 2px;
    border-radius: 25px;
    background-image: url(../images/valor.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 50px;
    background-size: 1.3em;
    background-position-x: 20px;
    outline: 0;
}

.popupEdit .itensEmpenho{
    border: 1px #13293D solid;
    padding-left: 10px;
    width: 100%;
    height: 45px;
    margin: 4px 2px;
    border-radius: 25px;
    background-image: url(../images/o-email2.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 50px;
    background-size: 1.3em;
    background-position-x: 20px;
    outline: 0;
}

.popupEdit .notaEmpenho{
    border: 1px #13293D solid;
    padding-left: 10px;
    width: 100%;
    height: 45px;
    margin: 4px 2px;
    border-radius: 25px;
    background-image: url(../images/codigo-barras.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 50px;
    background-size: 1.3em;
    background-position-x: 20px;
    outline: 0;
}
/*------------------------------------------------------------*/
.popupEdit select{
    width: 220px;
    background-color: #fff;
    border: 1px solid #165b79;
    outline: 0;
    margin-top: 20px;
    border-radius: 20px;
    height: 35px;
    text-align: center;
}

.popupEditOpen{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 10;
}

.openAddPopup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 10;
}

.popupRemove{
    width: 400px;
    background: #013b01;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #f5f5f5;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open_popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 10;
}

.disabled_tela.backdrop{
    pointer-events: none;
    opacity: 0.3;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #2177a8;
    z-index: 9;
}

.tela.disabled_tela{
    pointer-events: none;
}


.popupRemove img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    background-color: #2177a8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popupRemove h2{
    font-size: 20px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popupRemove button{
    width: 45%;
    margin-top: 50px;
    padding: 10px 0;
    background: #fff;
    border: 0;
    border-radius: 14px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popupRemove button:hover{
    background-color: #2177a8;
}

.form-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    display: none;
}
  
.form-container {
    width: 600px;
    height: 400px;
    padding: 10px;
    background-color: #009500;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}

.form-container h1{
    text-align: center;
}

.form-container button{
    width: 82%;
    margin-top: 50px;
    padding: 10px 0;
    background: #fff;
    border: 0;
    border-radius: 14px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    margin-left: 50px;
}

.form-container button:hover{
    background-color: #666;
}

.form-container p{
    padding-top: 30px;
    padding-left: 35px;
    text-align: justify;
}

@media(max-width: 600px){

}


