*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    height: 100vh;
    background-image: linear-gradient(#20631d, #c2f5bf);
    background-repeat: no-repeat;
    background-size: auto;
} 
main{
background-color: #013b01;
width: 450px;
height: 400px;
padding: 10px;
position: fixed;
top: 150px;
left: 455px;
border-radius: 10px;
}
button{
    max-width: 255px;
    width: 100%;
    padding: 10px 0;
    margin: 4px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 14px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

button:hover{
    color: #fff;
    background-color: #666;
}

button.homescreen{
    width: 200px;
    height: 45px;
    border: 0;
    border-radius: 25px;
    background-color: #013b01;
    font-size: 16px;
    cursor: pointer;   
    background-position: center,center;
}

button.homescreen:hover{
    color: #fff;
    background-color: #666;
}

button.homescreen {
    position: fixed;
    top: 40px;
    right: 100px;
}

#addsimbol{
    height: 0px;
    width: 0px;
    border: radius 100px;
    position: fixed;
    top: 75px;
    left: 610px;
}
#file{
    position: fixed;
    top: 300px;
    left: 550px;
}

#titulo{
    position: fixed;
    top: 250px;
    left: 490px;
}

#enviar{
    position: fixed;
    top: 420px;
    left: 550px;
}
#file::-webkit-file-upload-button{
    max-width: 255px;
    width: 100%;
    padding: 10px 0;
    margin: 4px;
    background: #fff;
    border: none;
    border-radius: 14px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

#file::-webkit-file-upload-button:hover{
    background: #666;
    color: #fff;
}

#popupConfirmar{
    width: 400px;
    height: 220px;
    background: #20631d;
    border-radius: 10px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #f5f5f5;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s; 
}



#popupConfirmar h2{
    font-size: 23px;
    font-weight: 500;
    margin: 30px 0 10px;
    color: black;
}

#popupConfirmar.exibirImportar{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.importarProfessor{
    width: 200px;
    height: 35px;
}

#botoes{
    display: flex;
    justify-content: center;
    margin-top: 400px;
}

#popupConfirmar button{
    height: 35px;
    width: 250px;
    margin: 20px;
}

h2{
    color: #f5f5f5;
}

#popupConfirmar h2{
    color: #f5f5f5;
}
