*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    height: 100vh;
    background-image: linear-gradient(#20631d, #c2f5bf);
    background-repeat: no-repeat;
    background-size: auto;
}

#botoes{
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search .loupe{
    background: url(../images/search-interface-symbol2.png);
    background-repeat: no-repeat;
    background-color: white;
    background-position-x: 10px;
    background-position-y: center;
    background-size: 1.8em;
}

.search input{
    width: 260px;
    height: 40px;
    border: 0;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    outline: 0;
}

.adicionar{
    background-color: #013b01;
    cursor: pointer;
    border: 1px solid #666;
    border-radius: 20px;
    width: 200px;
    height: 45px;
}

.adicionar:hover{
    opacity: 0.8;
}

.homescreen{
    width: 200px;
    height: 45px;
    border: 0;
    border-radius: 25px;
    background-color: #013b01;
    font-size: 16px;
    cursor: pointer;
}

.homescreen:hover{
    box-shadow: 0 0 5px #009500, 0 0 25px #009500, 0 0 50px #009500, 0 0 200px #009500;
}

.tableContain{
    width: 100vw;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.scroll{
    max-height: 495px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar{
    width: 0;
} 

th{
    position: sticky;
    top: 0;
}

tr:first-child td:first-child{
    border-bottom-left-radius: 20px;
}

tr:last-child td:first-child{
    border-bottom-left-radius: 20px;
}

tr:last-child td:last-child{
    border-bottom-right-radius: 20px;
}

.rTable{
    width: 83%;
    text-align: center;
    background-color: white;
    /* box-shadow: 1px 1px 8px 1px #000000; */
}

.rTable thead th{
    color: #e3e6d0;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 1px solid #f2f2f2;
    padding: 20px 20px 30px 20px;
    background-color: #013b01;
}

.rTable td{
    color: #666;
}
    
.rTable tr{
    height: 61.39px;
}
    
table{
    border-collapse:collapse;
    border-radius: 20px;
}

tr:first-child th:first-child{
    border-top-left-radius: 20px;
}

tr:last-child th:last-child{
    border-top-right-radius: 20px;
}

td:nth-child(7), td:nth-child(8){
    cursor: pointer;
}

tr:hover {
    background-color: #f5f5f5;
}

@media screen and (max-width: 448px){
    .tableContain{
        width: 94%;
    }

    
    .rTable tbody td{
        display: flex; 
        flex-direction: column; 
    }
}

@media screen and (max-width: 659px){
    .adicionar{
        width: 150px;
    }

    .homescreen{
        width: 150px;  
    }

    .search input{
        width: 150px;
    }
}

@media only screen and (min-width: 1200px){
    .content{width:100%;}
    .rTable tbody tr td:nth-child(1){width:10%;}
    .rTable tbody tr td:nth-child(2){width:30%;}
    .rTable tbody tr td:nth-child(3){width:20%;}
    .rTable tbody tr td:nth-child(4){width:10%;}
}

.popupAdd{
    width: 400px;
    background-color: #20631d;
    border-radius: 10px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #f5f5f5;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s; 
}



.popupAdd img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.popupAdd h2{
    font-size: 23px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popupAdd button{
    width: 45%;
    margin-top: 20px;
    padding: 10px 0;
    background: #fff;
    border: 0;
    border-radius: 24px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
}

.popupAdd .turmanomeadd, .turmacodigoadd, .turmasiglaadd, .turmaativaadd{
    border: 1px #13293D solid;
    padding-left: 10px;
    width: 100%;
    height: 45px;
    margin: 4px 2px;
    border-radius: 25px;
    outline: 0;
    padding-left: 50px;
}

.turmanomeadd{
    background-image: url(../images/login.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.3em;
    background-position-x: 20px;
}

.turmacodigoadd{
    background-image: url(../images/login.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.3em;
    background-position-x: 20px;
}

.turmasiglaadd{
    background-image: url(../images/login.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.3em;
    background-position-x: 20px;
}

.AtivaTrue{
    width: 100%;
    height: 45px;
    margin: 4px 2px;
}

.popupAdd button:hover{
    background-color: #666;
    color: #e3e6d0;
}

.popupAdd select{
    width: 220px;
    background-color: #fff;
    border: 1px solid #165b79;
    outline: 0;
    margin-top: 20px;
    border-radius: 20px;
    height: 35px;
    text-align: center;
}

.popupAdd label{
    margin-left: 12px;
    font-size: 16px;
}

.popupEdit{
    width: 400px;
    background-color: #20631d;
    border-radius: 10px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #f5f5f5;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.popupEdit img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    background-color: #20631d;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popupEdit h2{
    font-size: 23px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popupEdit button{
    width: 45%;
    margin-top: 20px;
    padding: 10px 0;
    background: #fff;
    border: 0;
    border-radius: 14px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
}


.popupEdit button:hover{
    background-color: #666;
    color: #e3e6d0;
}

.popupEdit .turmanomeedit{
    border: 1px #13293D solid;
    padding-left: 10px;
    width: 100%;
    height: 45px;
    margin: 4px 2px;
    border-radius: 25px;
    background-image: url(../images/login.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 50px;
    background-size: 1.3em;
    background-position-x: 20px;
    outline: 0;
}

.popupEdit .turmacodigoedit{
    border: 1px #13293D solid;
    padding-left: 10px;
    width: 100%;
    height: 45px;
    margin: 4px 2px;
    border-radius: 25px;
    background-image: url(../images/login.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 50px;
    background-size: 1.3em;
    background-position-x: 20px;
    outline: 0;
}

.popupEdit .turmasiglaedit{
    border: 1px #13293D solid;
    padding-left: 10px;
    width: 100%;
    height: 45px;
    margin: 4px 2px;
    border-radius: 25px;
    background-image: url(../images/login.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 50px;
    background-size: 1.3em;
    background-position-x: 20px;
    outline: 0;
}

.popupEdit .turmaativaedit{
    width: 100%;
    height: 45px;
    margin: 4px 2px;
}

.popupEdit select{
    width: 220px;
    background-color: #fff;
    border: 1px solid #165b79;
    outline: 0;
    margin-top: 20px;
    border-radius: 20px;
    height: 35px;
    text-align: center;
}

.popupEditOpen{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 10;
}

.openAddPopup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 10;
}

.popupRemove{
    width: 400px;
    background: #20631d;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 40px;
    color: #f5f5f5;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open_popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 10;
}

.disabled_tela.backdrop{
    pointer-events: none;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #2177a8;
    z-index: 9;
}

.tela.disabled_tela{
    pointer-events: none;
}


.popupRemove img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    background-color: #2177a8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popupRemove h2{
    font-size: 20px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popupRemove button{
    width: 45%;
    margin-top: 50px;
    padding: 10px 0;
    background: #fff;
    border: 0;
    border-radius: 14px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popupRemove button:hover{
    background-color: #666;
}

#popup-erro{
    width: 400px;
    background-color: #359830;
    border-radius: 10px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 20px 0;
    color: #f5f5f5;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s; 
    z-index: 2;
}

#popup-erro.mostrar-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

#popup-erro img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    
}

.popup-button {
    max-width: 140px;
    width: 100%;
    padding: 10px 0;
    margin: 4px;
    background: #fff;
    border: none;
    border-radius: 16px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 5px #00000033;
}

.popup-button:hover {
    color: #FFF;
    background: #666;
}

#turmaAtivaTrue {
    width: 20px;
    height: 20px;
    padding-left: 10px;
    margin: 40px 15px;
    position: relative;
    left: 20%;
}
#turmaAtivaTrue +label {
    font-size: 20px;   
    margin: -6px;
    position: relative;
    left: 20%;
}
#TurmaAtivaFalse {
    width: 20px;
    height: 20px;
    padding-left: 10px;
    margin: 40px 10px;
    position: relative;
    left: 21%;
}

#TurmaAtivaFalse +label {
    font-size: 20px;
    margin: -6px;
    position: relative;
    left: 21%;
}

.btadicionar{
    position: relative;
    right: 50%;
    top: 83px;
}
.btncancelar{
    position: relative;
    left: 25%;
}