*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    max-height: 100vh;
    background-image: linear-gradient(#13293D, #247BA0);
    background-repeat: inherit;
    background-size: auto;
}

.table-content{
    height: 75vh;
}

.homescreen{
    width: 200px;
    height: 45px;
    border: 0;
    border-radius: 25px;
    background-color: #165b79;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 50px;
    left: 1030px;
}

.homescreen:hover{
    box-shadow: 0 0 5px #165b79, 0 0 25px #165b79, 0 0 50px #165b79, 0 0 200px #165b79;
}

.homescreen img{
    padding-left: 9px;
}

.homescreen a{
    text-decoration: none;
    color: #e3e6d0;
    display: flex;
    align-items: center;
    padding: 7px;
}

.homescreen p{
    padding-left: 13px;
}


#title{
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    background-color: #247BA0;
    width:500px;
    height: 60px;
    border-radius: 30px;
    color: white;
}

#title p{
    padding: 10px;
    text-align: center;
}

table{
    text-align: center;
    border-radius: 20px;
    width: 70%;
    background-color: white;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

table h1{
    margin-top: -2px;
    margin-left: -2px;
    margin-right: -2px;
    min-height: 30px;
    color: white;
    font-size: 22px;
    background-color: #247BA0;
}

table .notification-message{
    text-align: left;
    margin: 20px;
    font-size: 16px;
}

table .message-info{
    display: flex;    
    justify-content: end;
    color: gray;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 12px;
}

table .message-info *{
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.notification-read td h1{
    background-color: gray;
}

.notification-unread{
    cursor: pointer;
}

.separation{
    margin-bottom: 10px;
}