*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    height: 100vh;
    background-color: #f0f6f7;
    width: 100wh;
}

.title{
    width: 100vw;
    height: 15vh;
}

h1{
    text-align: center;
    padding-top: 25px;
    font-size: 50px;
    color: #013b01;
}

.graphic{
    width: 100vw;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#my-Chart{
    width: 550px;
    height: 420px;
}

.buttons{
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.buttons .itemType{
    border: 1px #13293D solid;
    padding-left: 10px;
    height: 50px;
    width: 190px;
    margin: 4px 2px;
    border-radius: 25px;
    background-image: url(../images/definicao-do-tipo-de-documento.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 50px;
    background-size: 1.3em;
    background-position-x: 20px;
    outline: 0;
}

.buttons li{
    padding: 30px;
}

.buttons li a{
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 7px 2px ;
    border-radius: 20px;
    border: none;
    background-color:#013b01;
    cursor: pointer;
    width: 190px;
    height: 50px;
    color: #fff;
    text-decoration: none;
}

.homescreen{
    width: 200px;
    height: 45px;
    border: 0;
    border-radius: 25px;
    background-color: #013b01;
    font-size: 16px;
    cursor: pointer;
}

.homescreen:hover{
    box-shadow: 0 0 5px #009500, 0 0 25px #009500, 0 0 50px #009500, 0 0 200px #009500;
}

.buttons li a:hover, .buttons li button:hover{
    box-shadow: 0 0 5px #013b01, 0 0 25px #013b01, 0 0 50px #013b01, 0 0 200px #013b01;
}

.buttons li a p{
    padding-left: 25%;
}

.buttons li img{
    padding-left: 10px;
}

@media screen and (max-width: 448px){
    .buttons{
        width: 100vw;
        height: 20vh;
        display: flex;
        align-items: center;
    }

    .buttons .itemType{
        width: 100px;
    }

    .buttons li a{
        width: 100px;
        padding: 2px;
    }

    .buttons li{
        padding: 10px;
    }
}