*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    height: 100vh;
    background-color: #f0f6f7;
    width: 100wh;
}

h1{
    text-align: center;
    padding-top: 25px;
    font-size: 50px;
    color: #013b01;
}
/* .chart1{
    width: 800px;
    height: 400px;
    transform: translate(53%, 11%);
    transition: transform 0.8s, top 1.4s; 
}

.chart2{
    width: 800px;
    height: 400px;
    transform: translate(53%, -300%) scale(0.1);
    visibility: hidden;
    transition: transform 0.8s, top 1.4s; 
}

.chart3{
    width: 800px;
    height: 400px;
    transform: translate(53%, -300%) scale(0.1);
    visibility: hidden;
    transition: transform 0.8s, top 1.4s; 
} */

#my-Chart{
    min-width: 550px;
    min-height: 420px;
    position: absolute;
    top: 33%;
    left: 31%;
}

.sidebar{
    width: 550px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 220px;
    padding-right: 180px;
}

.buttons{
    list-style: none;
    position: relative;
}

.buttons li{
    padding: 10px 0;
}

.buttons li a{
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 7px 2px ;
    border-radius: 20px;
    border: none;
    background-color:#013b01;
    cursor: pointer;
    width: 250px;
    height: 50px;
    color: #fff;
    text-decoration: none;
}

.buttons li a:hover{
    box-shadow: 0 0 5px #013b01, 0 0 25px #013b01, 0 0 50px #013b01, 0 0 200px #013b01;
}

.buttons li a p{
    padding-left: 15%;
}

.buttons li img{
    padding-left: 10px;
}

.footer{
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
    color: #fff;
    background-color: #013b01;
    width: 100%;
    height: 40px;
}

.footer p{
    margin-top: 10px;
}

.tableAdd{
    width: 800px;
    height: 400px;
    transform: translate(53%, 11%) scale(1);
    visibility: visible;
}

.tableItensNull{
    width: 0px;
    height: 0px;
    transform: translate(53%, -300%) scale(0.1);
    visibility: hidden; 
}